<div *ngIf="subGroups" class="divider-margin-top">
    <mat-card-header>
      <mat-card-title>Projekte & Arbeitsgemeinschaften</mat-card-title>
      <app-action-bar-post class="pointer right"></app-action-bar-post>
    </mat-card-header>
    <mat-list>
  <!--   <mat-list-item *ngFor="let subGroup of subGroups">
       <img mat-list-avatar src="{{subGroup?.profilePic}}" alt="GroupPhoto">
       <h3 mat-line>{{subGroup?.name}}</h3><subtitle possible
     </mat-list-item> -->
   </mat-list>
  </div>
<!--  <p>{{group?.name}}</p> -->