  <div>
    <div class="center">
      <div class="inline-block center">
        <h3 class="primary no-margin-bot no-margin-top">
          {{convertedStartDate | date: 'HH:mm' }}-{{convertedEndDate | date: 'HH:mm' }}
        </h3>
        <p class="no-margin-top">Time</p>
      </div>
      <div class="inline-block center padding">
        <img mat-card-avatar class="no-margin-bot no-margin-top avatar inline-block margin-right" src="assets/img/Tobi.jpg" alt="Desc 1">
        <h3 class="inline-block primary no-margin-bot no-margin-top">{{topicModerator}}</h3>
        <p class="no-margin-top">Moderator</p>
      </div>
    </div>
    <div>
      <div>
        <p class="margin-right primary no-margin-bot inline-block">Content</p>
        <p class="no-margin-top">{{topicContent}}.</p>
      </div>
      <div>
        <p class="margin-right primary no-margin-bot inline-block">Protokoll</p>
        <p class="no-margin-top">{{topicProtocol}}</p>
      </div>
    </div>
  </div>
