<mat-card class="post-card wrapper">
  <div>
    <p class="margin-right inline-block">1. Eröffnung und Begrüßung</p>
    <mat-icon class=" pointer text-bottom
    inline-block">more_vert</mat-icon>
  </div>
  <div>
    <div class="center">
      <div class="inline-block center">
        <h3 class="primary no-margin-bot no-margin-top">19:00-19:10</h3>
        <p class="no-margin-top">Zeit</p>
      </div>
      <div class="inline-block center padding">
        <img mat-card-avatar class="no-margin-bot no-margin-top avatar inline-block margin-right" src="assets/img/Tobi.jpg" alt="Desc 1">
        <h3 class="inline-block primary no-margin-bot no-margin-top">Hans-Peter-Rathjens</h3>
        <p class="no-margin-top">Moderator</p>
      </div>
    </div>
    <div>
      <div>
        <p class="margin-right primary no-margin-bot inline-block">Inhalt</p>
        <mat-icon class=" pointer text-bottom
        inline-block">edit</mat-icon>
        <p class="no-margin-top">Ursprünglich sollte im Baugebiet die Sang ein Teil dem so-
        zialen Wohnungsbau zugeführt werden. Aufgrund des
        kleinen Areals findet sich jedoch kein Unternhemen, welches
        die entstehende Anlage betreiben möchte.
        Kurzes Feedback für die Fraktion im Stadtparlament nach
        Ideen zur Problemlösung.</p>
      </div>
      <div>
        <p class="margin-right primary no-margin-bot inline-block">Protokoll</p>
        <mat-icon class=" pointer text-bottom
        inline-block">edit</mat-icon>
        <p class="no-margin-top">Diskussion zur Relevanz des sozialen Wohnungsbau und
        Möglichkeiten der Umsetzung.
        Fabian schlägt vor, den sozialen Wohnungsbau in Eigenregie
        als Stadt zu führen. Herbert merkt an, dass die Stadt dafür
        mehr Ingenieure und Sozialpädagogen bräuchte. Thomas
        bietet an sich an die Stadt Hamburg zu wenden, da diese
        selber Sozialwohnungen anbieten, und nach Erfahrungen zu
        pflegen. Hans-Peter bietet an Anforderungen und Finanzier-
        ungsmöglichkeiten zu prüfen.</p>
      </div>
      <div>
        <p class="margin-right primary no-margin-bot inline-block">Aufgaben</p>
        <mat-icon class=" pointer text-bottom
        inline-block">edit</mat-icon>
        <mat-list>
          <mat-list-item>
            <mat-checkbox class="margin-right"></mat-checkbox>
            <p class="font-size-12 task-margin">Stadt Hamburg nach Erfahrungen im sozialen Wohnungsbau fragen</p>
            <img mat-card-avatar class="no-margin-bot no-margin-top avatar inline-block margin-right-2" src="assets/img/Tobi.jpg" alt="Desc 1">
            <p class="font-size-12">Thomas Kraft</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</mat-card>
