<app-structure>
      <mat-card>
        <mat-list class="inline-block">
          <mat-icon class="margin-right margin-right headline pointer text-bottom
          inline-block" color="primary">arrow_back</mat-icon>
          <img class="inline-block margin-right headline" mat-card-avatar src="assets/img/Tobi.jpg" alt="Desc 1">
          <h3 mat-line class="inline-block primary headline">Ellen Dietz</h3><!--subtitle possible-->
       </mat-list>
      </mat-card>
      <mat-card class="post-card wrapper margin-top">
        <div class="right">
          <!--<p class="primary">Ellen Dietz</p>-->
          <p>Hey,
          kommst du morgen zu unser Sitzung? Wir müssen noch etwas für den Wahlkampf besprechen!
          </p>
          <mat-card-subtitle>9:15</mat-card-subtitle>
        </div>
      </mat-card>
      <mat-card class="post-card wrapper margin-top pink">
        <div>
          <p>Hey,
          klar! Ich habe doch Flyer organisiert.
          Außerdem wollte ich noch eine Idee besprechen. Hast du sie im Event
          gesehen?</p>
          <mat-card-subtitle>9:36</mat-card-subtitle>
        </div>
      </mat-card>
      <mat-card class="post-card wrapper margin-top">
          <div class="right">
            <!--<p class="primary">Ellen Dietz</p>-->
            <p>Hey,
            kommst du morgen zu unser Sitzung? Wir müssen noch etwas für den Wahlkampf besprechen!
            </p>
            <mat-card-subtitle>9:15</mat-card-subtitle>
          </div>
        </mat-card>
        <mat-card class="post-card wrapper margin-top pink">
          <div>
            <p>Hey,
            klar! Ich habe doch Flyer organisiert.
            Außerdem wollte ich noch eine Idee besprechen. Hast du sie im Event
            gesehen?</p>
            <mat-card-subtitle>9:36</mat-card-subtitle>
          </div>
        </mat-card>
    <div>
  </div>
  <mat-card class="margin-top botton">
    <div class="inline-block">
      <mat-form-field class="width">
        <input class="center" matInput placeholder="Neue Nachricht">
      </mat-form-field>
      <button mat-raised-button color="primary" class="margin-left">Senden</button>
    </div>
  </mat-card>
</app-structure>