<app-structure>
    <mat-card class="justify">
        <div class="center">
            <mat-icon class="inline-block float-left" color="primary">arrow_back</mat-icon>
            <app-header-face-no-loc class="inline-block"
            [profilePhoto]="profilePhoto"
            [name]="name"
            [subTitle]="subTitle"></app-header-face-no-loc>
        </div>
    </mat-card>

    <div class="margin-bot">
        <div *ngFor="let message of messages">
            <app-chat-message
            [messageDate]="message.date"
            [messageText]="message.message"
            [messageUser]="message.user"></app-chat-message>

        </div>
    </div>
  
    <mat-card class="margin-top botton">
        <div class="inline-block">
            <mat-form-field class="width">
                <input class="center" matInput placeholder="Neue Nachricht">
            </mat-form-field>
            <button mat-raised-button color="primary" class="margin-left">Senden</button>
        </div>
    </mat-card>
</app-structure>