.margin-bot {
  margin-bottom: 90px;
}
.float-left {
  float: left;
} 
.inline-block {
  display: inline-block;
}

.margin-left {
  margin-left: 16px;
}

.width {
  width: 200px;
}

.botton {
  position: fixed;
  left: 0;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
  margin-bottom: 55px;
}

p {
  margin-top: 0px;
  margin-bottom: 8px;
}


@media (min-width: 375px) {
  .width {
    width: 250px;
  }
}

@media (min-width: 425px) {
  .width {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .width {
    width: 643px;
  }
}

@media (min-width:  1024px) {
  .width {
    width: 899px;
  }
}

@media (min-width:  1440px) {
  .width {
    width: 1315px;
  }
}
