<mat-toolbar class="mat-elevation-z6 top">
  <mat-toolbar-row>
    <span class="bar-center">
      <a routerLink="/upload">
      <!--<a (click)="openDialog()">-->
        <mat-icon color="primary">add_box</mat-icon>
      </a>
    </span>
    <span class="bar-center">
      <a routerLink="/home">
        <img src="assets/app/leftlife-logo.png" alt="Leftlife Logo" style="height: 55px;">
      </a>
    </span>
    <span class="bar-center">
      <a routerLink="/search">
        <mat-icon color="primary">search</mat-icon>
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
