.center {
    text-align: center;
}
    
.inline-block {
    display: inline-block;
}

.no-margin-top {
    margin-top: 0px!important;
}

.no-margin-bot {
    margin-bottom: 0px!important;
}

.padding{
    padding-left: 15px;
    padding-right: 15px;
}
