<mat-card-content>
  <div class="center">
    <div class="inline-block center">
      <h3 class="primary no-margin-bot no-margin-top">{{number1}}</h3>
      <p class="no-margin-top">{{label1}}</p>
    </div>
    <div class="inline-block center padding">
      <h3 class="primary no-margin-bot no-margin-top">{{number2}}</h3>
      <p class="no-margin-top">{{label2}}</p>
    </div>
    <div class="inline-block center">
      <h3 class="primary no-margin-bot no-margin-top">{{number3}}</h3>
      <p class="no-margin-top">{{label3}}</p>
    </div>
    <div *ngIf="label4" class="inline-block center padding-left">
        <h3 class="primary no-margin-bot no-margin-top">{{number4}}</h3>
        <p class="no-margin-top">{{label4}}</p>
      </div>
  </div>
</mat-card-content>
