<mat-card-header class="margin-top">
    <mat-card-title>Events</mat-card-title>
    <mat-slide-toggle (click)="eventimages=!eventimages">Listenansicht</mat-slide-toggle>
  </mat-card-header>
  
  <mat-vertical-stepper *ngIf="!eventimages">
    <mat-step label="Vorstandssitzung Rosbach">
      <div class="grid-container">
        <div class="grid-item">
          <mat-icon>event</mat-icon>
        </div>
        <div class="grid-item">
          <p>04.06.2018 - 19:00</p>
        </div>
        <div class="grid-item">
          <mat-icon class="green">done</mat-icon>
        </div>
        <div class="grid-item">
          <mat-icon>place</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">Friedberger Landstraße 61191 Rosbach</p>
        </div>
      </div>
    </mat-step>
    <mat-step label="Jusos Meetup">
      <div class="grid-container">
        <div class="grid-item">
          <mat-icon>event</mat-icon>
        </div>
        <div class="grid-item">
          <p>04.06.2018 - 19:00</p>
        </div>
        <div class="grid-item">
          <mat-icon class="primary">clear</mat-icon>
        </div>
        <div class="grid-item">
          <mat-icon>place</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">Friedberger Landstraße 61191 Rosbach</p>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  
  <mat-grid-list cols="4" rowHeight="100px" *ngIf="eventimages">
    <mat-grid-tile class="width"
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
      <img mat-card-image src="assets/img/Europa.jpg"
      alt="Tobias Hassebrock" class="pointer" matTooltip="Idee Europäische Republik">
    </mat-grid-tile>
  </mat-grid-list>
  