<p class="primary font-size margin-top inline-block">Progress</p>
<mat-vertical-stepper>
    <mat-step label="{{localEvent.eventTitle}}">
        <div class="grid-container">
          <div class="grid-item">
            <mat-icon>event</mat-icon>
          </div>
          <div class="grid-item">
            <p>{{localEvent.eventDate.date}} - {{localEvent.eventDate.time}}</p>
          </div>
          <div class="grid-item">
            <mat-icon class="primary">clear</mat-icon>
          </div>
          <div class="grid-item">
            <mat-icon>place</mat-icon>
          </div>
          <div class="grid-item">
            <p class="">{{localEvent.eventLocation.postCode}} {{localEvent.eventLocation.city}}, 
              {{localEvent.eventLocation.street}} {{localEvent.eventLocation.houseNumber}},
              {{localEvent.eventLocation.additionalInformation}}
            </p>
          </div>
        </div>
      </mat-step>
      <mat-step label="{{localEvent.eventTitle}}">
          <div class="grid-container">
            <div class="grid-item">
              <mat-icon>event</mat-icon>
            </div>
            <div class="grid-item">
              <p>{{localEvent.eventDate.date}} - {{localEvent.eventDate.time}}</p>
            </div>
            <div class="grid-item">
              <mat-icon class="primary">clear</mat-icon>
            </div>
            <div class="grid-item">
              <mat-icon>place</mat-icon>
            </div>
            <div class="grid-item">
              <p class="">{{localEvent.eventLocation.postCode}} {{localEvent.eventLocation.city}}, 
                {{localEvent.eventLocation.street}} {{localEvent.eventLocation.houseNumber}},
                {{localEvent.eventLocation.additionalInformation}}
              </p>
            </div>
          </div>
        </mat-step>
        <mat-step label="{{localEvent.eventTitle}}">
            <div class="grid-container">
              <div class="grid-item">
                <mat-icon>event</mat-icon>
              </div>
              <div class="grid-item">
                <p>{{localEvent.eventDate.date}} - {{localEvent.eventDate.time}}</p>
              </div>
              <div class="grid-item">
                <mat-icon class="primary">clear</mat-icon>
              </div>
              <div class="grid-item">
                <mat-icon>place</mat-icon>
              </div>
              <div class="grid-item">
                <p class="">{{localEvent.eventLocation.postCode}} {{localEvent.eventLocation.city}}, 
                  {{localEvent.eventLocation.street}} {{localEvent.eventLocation.houseNumber}},
                  {{localEvent.eventLocation.additionalInformation}}
                </p>
              </div>
            </div>
          </mat-step>
          <mat-step label="{{localEvent.eventTitle}}">
              <div class="grid-container">
                <div class="grid-item">
                  <mat-icon>event</mat-icon>
                </div>
                <div class="grid-item">
                  <p>{{localEvent.eventDate.date}} - {{localEvent.eventDate.time}}</p>
                </div>
                <div class="grid-item">
                  <mat-icon class="primary">clear</mat-icon>
                </div>
                <div class="grid-item">
                  <mat-icon>place</mat-icon>
                </div>
                <div class="grid-item">
                  <p class="">{{localEvent.eventLocation.postCode}} {{localEvent.eventLocation.city}}, 
                    {{localEvent.eventLocation.street}} {{localEvent.eventLocation.houseNumber}},
                    {{localEvent.eventLocation.additionalInformation}}
                  </p>
                </div>
              </div>
            </mat-step>
</mat-vertical-stepper>
