<mat-card class="post-card wrapper">
  <p class="primary font-size margin-top inline-block">Fortschritt</p>
  <mat-vertical-stepper>
    <mat-step label="Bundesparteitag">
      <div class="grid-container">
        <div class="grid-item">
          <mat-icon>event</mat-icon>
        </div>
        <div class="grid-item">
          <p>04.06.2018 - 19:00</p>
        </div>
        <div class="grid-item">
          <mat-icon class="green">done</mat-icon>
        </div>
        <div class="grid-item">
          <mat-icon>place</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">Friedberger Landstraße 61191 Rosbach</p>
        </div>
      </div>
    </mat-step>
    <mat-step label="Landesparteitag Hessen">
      <div class="grid-container">
        <div class="grid-item">
          <mat-icon>event</mat-icon>
        </div>
        <div class="grid-item">
          <p>04.06.2018 - 19:00</p>
        </div>
        <div class="grid-item">
          <mat-icon class="primary">clear</mat-icon>
        </div>
        <div class="grid-item">
          <mat-icon>place</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">Friedberger Landstraße 61191 Rosbach</p>
        </div>
      </div>
    </mat-step>
    <mat-step label="Unterbezirksparteitag Wetterau">
      <div class="grid-container">
        <div class="grid-item">
          <mat-icon>event</mat-icon>
        </div>
        <div class="grid-item">
          <p>04.06.2018 - 19:00</p>
        </div>
        <div class="grid-item">
          <mat-icon class="primary">clear</mat-icon>
        </div>
        <div class="grid-item">
          <mat-icon>place</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">Friedberger Landstraße 61191 Rosbach</p>
        </div>
      </div>
    </mat-step>
    <mat-step label="Rosbach Mitgliederversammlung">
      <div class="grid-container">
        <div class="grid-item">
          <mat-icon>event</mat-icon>
        </div>
        <div class="grid-item">
          <p>04.06.2018 - 19:00</p>
        </div>
        <div class="grid-item">
          <mat-icon class="primary">clear</mat-icon>
        </div>
        <div class="grid-item">
          <mat-icon>place</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">Friedberger Landstraße 61191 Rosbach</p>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
