.grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-item {
    font-size: 14px;
    text-align: center;
    margin: auto;
  }

  .example-header-image {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/leftlife1-e07e0.appspot.com/o/test%2F1550355364990_Tobi%2018.12.17%20SW.jpg?alt=media&token=c99546b2-1a40-4442-8eeb-7d580a928efb');
    background-size: cover;
  }
