<form [formGroup]="uploadPostForm" (ngSubmit)="addPost()">
    <mat-form-field class="margin-input">
      <input matInput type="text" value="" formControlName="postText" placeholder="Add some text...">
    </mat-form-field>
  
    <mat-form-field class="margin-input">
      <input matInput type="text" value="" formControlName="postAuthor" placeholder="Who is the author?">
    </mat-form-field>
  
    <mat-form-field>
       <input matInput type="text" value="" formControlName="postLocation" placeholder="From where do you write?">
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Create Post</button>
  </form>