<mat-card>
    <mat-card class="center">
        <app-search-form></app-search-form>
    </mat-card>

    <mat-card *ngFor="let idea of subIdeas$ | async" class="margin-top-14">
        <app-search-result-idea
          [ideaTitle]="idea.ideaTitle"
          [ideaID]="idea.id"
          [ideaLocation]="idea.ideaLocation"
          [ideaAuthorName]="idea.ideaAuthor.authorName"
          [ideaDate]="idea.ideaDate"
          [ideaHashtags]="idea.ideaHashtags"
          [ideaImage]="idea.ideaImage">
        </app-search-result-idea>
      </mat-card>
</mat-card>

  