<div>
    <p class="primary">Tasks</p>
    <mat-list>
      <mat-list-item>
        <mat-checkbox class="margin-right"></mat-checkbox>
        <p class="font-size-12">
          Asking for experiences how to plan and build a new city district</p>
        <img mat-card-avatar class="   margin-right-2" src="assets/img/Tobi.jpg" alt="Desc 1">
        <p class="font-size-12">Tobias Hassebrock</p>
      </mat-list-item>
      <mat-list-item>
          <mat-checkbox class="margin-right"></mat-checkbox>
          <p class="font-size-12">
            Organizing town hall conferences to involce citizens into the planing stage 
          </p>
          <img mat-card-avatar class=" margin-right-2" src="assets/img/Tobi.jpg" alt="Desc 1">
          <p class="font-size-12">Tobias Hassebrock</p>
        </mat-list-item>
    </mat-list>
  </div>
