.post-header-image {
    cursor: pointer;
  }

.margin-right {
  margin-right: 18px;
}

.inline {
  vertical-align: top;
  display: inline;
  font-size: 20px;
}

.inline-block {
  display: inline-flex;
  margin-right: 5px;
}

.float-right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.right {
  text-align: right;
  display: inline;
}

.width-co {
  width: 100%;
}
