<div *ngIf="group" class="divider-margin-bot">
    <mat-card-header class="margin-top">
      <img mat-card-avatar src="{{group?.groupImage}}"class="post-header-image" matTooltip="Profile">
      <mat-card-title class="pointer">{{group?.groupLevel}} {{group?.groupTitle}}</mat-card-title>
      <mat-card-subtitle class="pointer inline-block margin-bot-16">
        {{group.groupLocation.postCode}} {{group.groupLocation.city}}, 
        {{group.groupLocation.street}} {{group.groupLocation.houseNumber}},
        {{group.groupLocation.additionalInformation}}
      </mat-card-subtitle>
      <app-action-bar-post class="pointer right"></app-action-bar-post>
    </mat-card-header>
    <div class="center">
      <div class="inline-block center">
        <h3 class="primary no-margin-bot no-margin-top">{{group?.groupIdeasTot}}</h3>
        <p class="no-margin-top">Ideen</p>
      </div>
      <div class="inline-block center padding">
        <h3 class="primary no-margin-bot no-margin-top">{{group?.groupFollowersTot}}</h3>
        <p class="no-margin-top">Follower</p>
      </div>
      <div class="inline-block center padding-right">
        <h3 class="primary no-margin-bot no-margin-top">{{group?.groupMembersTot}}</h3>
        <p class="no-margin-top">Mitglieder</p>
      </div>
      <div class="inline-block center">
        <h3 class="primary no-margin-bot no-margin-top">{{group?.groupEventsTot}}</h3>
        <p class="no-margin-top">Events</p>
      </div>
    </div>
    <mat-chip-list class="inline-block margin-bot-right" *ngFor="let hashtag of group?.groupHashtags">
      <mat-chip class="">#{{hashtag}}</mat-chip>
    </mat-chip-list>
  </div>
  