<mat-card>
    <mat-card class="center">
        <app-search-form></app-search-form>
    </mat-card>

    <mat-card *ngFor="let event of subEvents$ | async" class="margin-top-14">
        <app-search-result-event
            [eventDate]="event.eventDate"
            [eventTitle]="event.eventTitle"
            [eventHost]="event.eventHost"
            [eventImage]="event.eventImage"
            [eventHashtags]="event.eventHashtags"
            [eventModerator]="event.eventModerator"
            [eventTasksTot]="event.eventTasksTot"
            [eventTopicsTot]="event.eventTopicsTot"
            [eventIdeasTot]="event.eventIdeasTot"
            [eventParticipants]="event.eventParticipants"
            [eventLocation]="event.eventLocation">
        </app-search-result-event>
    </mat-card>
</mat-card>
