.post-header-image {
    background-image: url('/assets/img/Tobi.jpg');
    background-size: cover;
    cursor: pointer;
  }
  
  .post-card {
    max-width: 600px;
    margin: 14px;
  }
  
  .margin-right {
    margin-right: 18px;
  }
  
  .inline {
    vertical-align: top;
    display: inline;
    font-size: 20px;
  }
  
  .primary {
    color: #d50000;
  }
  
  .float-right {
    float: right;
  }
  
  .margin-left-175 {
    margin-left: 40px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .text-bottom {
    vertical-align: text-bottom;
  }
  
  .right {
    text-align: right;
    float: right;
    display: inline;
  }
  
  .padding{
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .primary {
    color: #d50000;
  }
  
  .no-margin-top {
    margin-top: 0px!important;
  }
  
  .no-margin-bot {
    margin-bottom: 0px!important;
  }
  
  .font-size {
    font-size: 18px;
    font-weight: bold;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .margin-top {
    margin-top: 0px;
  }
  
  .center {
    text-align: center;
  }
  
  .margin-top-14 {
    margin-top: 14px;
  }
  
  @media only screen and (min-width: 425px) {
  }
  