.divider-margin-top {
    margin-top: 30px;
  }
  
  .post-card {
    max-width: 600px;
    margin: 14px;
  }
  
  .inline {
    display: inline;
  }
  
  .wrapper {
      max-width: 600px;
      margin: auto;
      padding: 14px;
    }
  