<div class="divider-margin-top">
    <mat-card *ngIf="group" class="post-card wrapper">
      <mat-card-header>
        <mat-card-title>Vorstand</mat-card-title>
        <app-action-bar-post class="pointer right"></app-action-bar-post>
      </mat-card-header>
  
 <!--     <mat-grid-list cols="2" rows="2" rowHeight="1:1">
        <mat-grid-tile *ngFor="let boardMember of group?.executiveBoard" class="row">
          <img mat-card-image src="{{boardMember?.boardMember}}"
          alt="Tobias Hassebrock"  class="pointer" matTooltip="">
        </mat-grid-tile>
      </mat-grid-list> -->
    </mat-card>
  
  </div>
