<!--<button mat-raised-button (click)="follow()" >Follow</button>
<button mat-raised-button (click)="unfollow()">Unfollow</button>

<app-comments></app-comments>
<div *ngIf="followState === true">
  <p>hello Doc</p>
</div>

<div *ngIf="followState === false">
    <p>No doc</p>
  </div>

  <div *ngIf="followStateA | async">
    <p>hello Doc</p>
  </div>
  
  <div *ngIf="followStateA | async">
      <p>No doc</p>
    </div>

<p>Check FollowTest</p>
<div *ngIf="follow$ | async as follow" >
  <p>Follow Doc test</p>
  <ul>
    <li>{{follow.followName}}</li>
    <li>{{follow.id}}</li>
</ul>
<img  width="200px" src={{follow.followImage}}> 
</div>

<p>Followers</p>
<div *ngFor="let follow of follower$ | async">
  <ul>
      <li>{{follow.followName}}</li>
      <li>{{follow.id}}</li>
  </ul>
  <img  width="200px" src={{follow.followImage}}> 
</div>
-->
<div *ngFor="let event of subEvents$ | async">
    <p>Subevents</p>
    <ul>
        <li>{{event.eventTitle}}</li>
        <li>{{event.eventParticipants}}</li>
        <li>{{event.id}}</li>
    </ul>
    <img  width="200px" src={{event.eventImage}}> 
</div>

<div *ngIf="idea$ | async as thisIdea" >
  <ul>
    <li>{{thisIdea.ideaTitle}}</li>
    <li>{{thisIdea.ideaLocation}}</li>
  </ul>
  <img  width="200px" src={{thisIdea.ideaImage}}> 
</div>

<div *ngFor="let group of groups$ | async">
    <ul>
      <li>{{group.groupTitle}}</li>
      <li>{{group.groupEventsTot}}</li>
      <li>{{group.id}}</li>
    </ul>
    <img  width="200px" src={{group.groupImage}}> 
  </div>

<div *ngFor="let idea of ideas$ | async">
  <ul>
    <li>{{idea.ideaTitle}}</li>
    <li>{{idea.id}}</li>
    <li>{{idea.ideaText}}</li>
  </ul>
  <img  width="200px" src={{idea.ideaImage}}> 
</div>

<div *ngFor="let person of persons$ | async">
    <ul>
      <li>{{person.displayName}}</li>
      <li>{{person.id}}</li>
      <li>{{person.local}}</li>

    </ul>
    <img  width="200px" src={{person.profilePhoto}}> 
  </div>
