<mat-card-header class="margin-top">
    <mat-card-title>Ideen & Posts</mat-card-title>
    <mat-slide-toggle (click)="ideaimages=!ideaimages">Listenansicht</mat-slide-toggle>
  </mat-card-header>
  
  <mat-vertical-stepper *ngIf="!ideaimages">
    <mat-step label="Europäische Republik">
      <div class="grid-container">
        <div class="grid-item">
          <mat-icon>person</mat-icon>
        </div>
        <div class="grid-item">
          <p>Tobias Hassebrock</p>
        </div>
        <div class="grid-item">
          <mat-icon>event</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">04.06.2018 - 19:00</p>
        </div>
        <div class="grid-item">
          <mat-icon>work</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">#Europa #Sozial #EU #Republik</p>
        </div>
        <div class="grid-item">
            <mat-icon>beenhere</mat-icon>
          </div>
          <div class="grid-item">
            <p class="">20 OVs, 2 Lvs</p>
          </div>
      </div>
    </mat-step>
    <mat-step label="Chancenkonto">
      <div class="grid-container">
        <div class="grid-item">
          <mat-icon>person</mat-icon>
        </div>
        <div class="grid-item">
          <p>Tobias Hassebrock</p>
        </div>
        <div class="grid-item">
          <mat-icon>event</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">04.06.2018 - 19:00</p>
        </div>
        <div class="grid-item">
          <mat-icon>work</mat-icon>
        </div>
        <div class="grid-item">
          <p class="">#Europa #Sozial #EU #Republik</p>
        </div>
        <div class="grid-item">
            <mat-icon>work</mat-icon>
          </div>
          <div class="grid-item">
            <p class="">#Europa #Sozial #EU #Republik</p>
          </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  
  <mat-grid-list cols="4" rowHeight="100px" *ngIf="ideaimages">
    <mat-grid-tile class="width"
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
      <img mat-card-image src="assets/img/Europa.jpg"
      alt="Tobias Hassebrock" class="pointer" matTooltip="Idee Europäische Republik">
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="4" rowHeight="100px" *ngIf="ideaimages">
    <mat-grid-tile class="width"
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
      <img mat-card-image src="assets/img/Europa.jpg"
      alt="Tobias Hassebrock" class="pointer" matTooltip="Idee Europäische Republik">
    </mat-grid-tile>
  </mat-grid-list>
  