<mat-card-header class="center justify">
    <mat-card-title>{{eventTitle}}</mat-card-title>
    <mat-card-subtitle>{{eventHost}}</mat-card-subtitle>
</mat-card-header>
    <img *ngIf="eventImage" mat-card-image src={{eventImage}} alt="Photo of the {{eventTitle}}" width="200px">
<!--
<mat-card class="post-card">
  <div class="divider-margin-bot">
    <mat-card-header class="margin-top">
      <div mat-card-avatar class="post-header-image" matTooltip="Profile Tobias Hassebrock"></div>
      <mat-card-title class="pointer">OV Rosbach Vorstandssitzung</mat-card-title>
      <mat-card-subtitle class="pointer">04.06.2018 - 19:00
      Friedberger Landstraße 24 61191 Rosbach</mat-card-subtitle>
      <app-action-bar-post class="pointer right"></app-action-bar-post>
    </mat-card-header>
    <div class="center">
      <div class="inline-block center">
        <h3 class="primary no-margin-bot no-margin-top">20</h3>
        <p class="no-margin-top">Zusagen</p>
      </div>
      <div class="inline-block center padding">
        <h3 class="primary no-margin-bot no-margin-top">193</h3>
        <p class="no-margin-top">Themen</p>
      </div>
      <div class="inline-block center padding-right">
        <h3 class="primary no-margin-bot no-margin-top">324</h3>
        <p class="no-margin-top">Ideen</p>
      </div>
      <div class="inline-block center">
        <h3 class="primary no-margin-bot no-margin-top">5</h3>
        <p class="no-margin-top">Aufgaben</p>
      </div>
    </div>
    <mat-chip-list>
      <mat-chip>#Stadtverordnetenversammlung29.05.18</mat-chip>
      <mat-chip>#BaugebietSang</mat-chip>
      <mat-chip>#Europäische Republik</mat-chip>
      <mat-chip>#BaugebietSang</mat-chip>
      <mat-chip>#ReweDigital</mat-chip>
    </mat-chip-list>
</div>
</mat-card>
-->