<mat-icon mat-icon-button [matMenuTriggerFor]="shareMenu" class="pointer">share</mat-icon>
<mat-menu #shareMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>facebook_box</mat-icon>
    <span>Facebook</span>
  </button>
  <button mat-menu-item>
    <mat-icon>warning</mat-icon>
    <span>Twitter</span>
  </button>
  <button mat-menu-item>
    <mat-icon>warning</mat-icon>
    <span>Instagram</span>
  </button>
  <button mat-menu-item>
    <mat-icon>warning</mat-icon>
    <span>WhatsApp</span>
  </button>
</mat-menu>
