body, html {
    height: 100%;
    margin: 0;
}

.margin-top-14 {
    margin-top: 14px;
}

.margin-bot-0 {
    margin-bottom: 0px;
}
.center {
    text-align: center;
}

.justify {
    justify-content: center;
}

.primary {
    color: #d50000;
}

.pink {
    background-color: #fef4f3;
}

.link {
    text-decoration: none;
    color: inherit;
}
  
  .margin-input {
    margin-right: 14px;
}