body, html {
    height: 100%;
    margin: 0;
}

.margin-top-14 {
    margin-top: 14px;
}

.center {
    text-align: center;
}

.justify {
    justify-content: center;
}

.primary {
    color: #d50000;
}
  