<div class="divider-margin-top">
    <mat-card-header>
      <mat-card-title>Kontakt & Location</mat-card-title>
      <app-action-bar-post class="pointer right"></app-action-bar-post>
    </mat-card-header>
    <p class="font-size-14">SPD Rosbach/Rodheim</p>
    <p class="grey">Friedberger Straße 24</p>
    <p class="grey">61191 Rosbach</p>
    <p class="font-size-14">Vorsitzende des Ortsvereins</p>
    <p class="grey">Ellen Dietz</p>
    <p class="grey">ellen.dietz@spd-in-rosbach.de</p>
  </div>
  