    <mat-card-header>
        <h2 class="primary">Contact & Location</h2>
    </mat-card-header>
    <div class="grid-container">
        <div class="grid-item">
          <mat-icon>person</mat-icon>
        </div>
        <div class="grid-item">
          <p>{{groupLeader}}</p>
        </div>
        <div class="grid-item">
          <mat-icon>email</mat-icon>
        </div>
        <div class="grid-item">
          <p>{{groupContact.email}}</p>
        </div>
        <div class="grid-item">
            <mat-icon>phone</mat-icon>
          </div>
          <div class="grid-item">
            <p>{{groupContact.phone}}</p>
          </div>
        <div class="grid-item">
          <mat-icon>place</mat-icon>
        </div>
        <div class="grid-item">
          <p>
            {{groupLocation.postCode}} {{groupLocation.city}} - 
            {{groupLocation.street}} {{groupLocation.houseNumber}} - 
            {{groupLocation.additionalInformation}}
          </p>
        </div>
      </div>
  