  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
      display: none;
  }

  .mat-tab-header-pagination {
     display: none;
 }

 .mat-tab-header-pagination-controls-enabled {
     display: none;
 }

/*disbables the tab pagination of the tab bar*/
 /deep/.mat-tab-label {
  min-width: 0!important;
  padding: 12px!important;
  margin: auto!important;
 }

 /deep/.mat-tab-label-active{
  min-width: 0!important;
  padding: 12px!important;
  margin: auto!important;
 }
