<app-structure>
    <mat-card>
        <mat-tab-group>
          <mat-tab label="Wiki">
            <mat-card>
              <app-group-wiki
                [group$]="group$">
              </app-group-wiki>
            </mat-card>
          </mat-tab>
          <mat-tab label="Stream">
            <app-group-stream></app-group-stream>
          </mat-tab>
          <mat-tab label="Events">
            <app-group-events
              [subEvents$]="subEvents$">
            </app-group-events>
          </mat-tab>
          <mat-tab label="Ideen">
            <app-group-ideas
              [subIdeas$]="subIdeas$">
          </app-group-ideas>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
</app-structure>