<app-structure>
    <mat-card>
        <app-search-form></app-search-form>
    </mat-card>
    <div *ngIf="authService.user$ | async as user">
        <mat-card class="margin-top-14">
            <mat-list>
                <div *ngFor="let not of user.notifications">
                    <app-notifications-card
                        [notName]="not.notName"
                        [notImage]="not.notImage"
                        [notIssue]="not.notIssue"
                        [notDate]="not.notDate">
                    </app-notifications-card>
                </div>
            </mat-list>
        </mat-card>
    </div>    
</app-structure>