<app-structure>
  <div *ngIf="idea$ | async as idea">
  <mat-card>
    <div class="container">
      <img src="{{idea.ideaImage}}" width="100%">
      <p class="title">{{idea.ideaTitle}}</p>
     <!-- <p class="subtitle">{{ideaSubtitle}}</p>-->
     <router-outlet></router-outlet>
    </div>

       <app-stats class="margin-top-14"
        [label1]="'Likes'"
        [label2]="'Supporter'"
        [label3]="'Proposals'"
        [number1]="idea.ideaLikesTot"
        [number2]="idea.ideaSupportersTot"
        [number3]="idea.ideaProposalsTot">
      </app-stats>

      <div class="center">
        <app-hashtags [hashtags]="idea.ideaHashtags"></app-hashtags>
      </div>

      <h3 class="primary margin-0 center">Written by</h3>
      <app-header-face
      [local]="idea.ideaAuthor.authorLocal"
      [regional]="idea.ideaAuthor.authorRegional"
      [federal]="idea.ideaAuthor.authorFederal"
      [continental]="idea.ideaAuthor.authorContinental"

      [name]="idea.ideaAuthor.authorName"
      [profilePhoto]="idea.ideaAuthor.authorImage">
    </app-header-face>
  </mat-card>

  <mat-card class="margin-top-14 center">
    <app-idea-video [ideaVideo]="idea.ideaVideo"></app-idea-video>
    <app-action-bar-share-map></app-action-bar-share-map>
  </mat-card>

    <app-idea-content
     [ideaText]="idea.ideaText"
     [ideaReason]="idea.ideaReason">
    </app-idea-content>

  <mat-card class="margin-top-14">
      <app-idea-progress class="margin-top-14"
      [localEvent]="idea.ideaEventsUp.eventLocal"
      [districtEvent]="idea.ideaEventsUp.eventDistrict"
      [regionalEvent]="idea.ideaEventsUp.eventRegional"
      [federalEvent]="idea.ideaEventsUp.eventFederal">
    </app-idea-progress>
  </mat-card>
</div>
</app-structure>