.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.subtitle {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
}

.margin-0 {
    margin-bottom: 5px;
}