  <app-upload-header></app-upload-header>
  <div class="main-container">
    <div class="content">
      <div class="post-card wrapper">
        <mat-card>
        <mat-tab-group>
          <mat-tab label="Photo">
            <app-upload-post></app-upload-post>
          </mat-tab>
          <mat-tab label="Idee">
            <app-upload-idea></app-upload-idea>
          </mat-tab>
          <mat-tab label="Gruppe">
            <app-upload-group></app-upload-group>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      </div>
    </div>
  </div>
