<app-structure>
        <mat-card>
        <mat-tab-group>
          <mat-tab label="Photo">
            <app-upload-form-post class="center"></app-upload-form-post>
          </mat-tab>
          <mat-tab label="Idee">
            <app-upload-form-idea class="center"></app-upload-form-idea>
          </mat-tab>
          <mat-tab label="Gruppe">
            <app-upload-form-group class="center"></app-upload-form-group>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
</app-structure>
