<app-structure>
  <mat-card>
    <app-search-form></app-search-form>
  </mat-card>
  <mat-card class="margin-top-14">
      <mat-list>
          <mat-list-item routerLink="/message/1">
            <img mat-list-avatar src="assets/img/Tobi.jpg" alt="Desc 1">
            <h3 mat-line class="primary">Ellen Dietz</h3><!--subtitle possible-->
            <p mat-line>
             <span>Hast du mir das noch ge...</span>
           </p>
           <div>
             <p >
               <span matBadge="4" matBadgeOverlap="false">20:08</span>
             </p>
           </div>
          </mat-list-item>
          <mat-list-item routerLink="/message/1">
            <img mat-list-avatar src="assets/img/Tobi.jpg" alt="Desc 1">
            <h3 mat-line class="primary">Eckhard Hassebrock</h3><!--subtitle possible-->
            <p mat-line>
             <span>Ich versuche es morgen...</span>
           </p>
           <div>
             <p >
               <span matBadge="6" matBadgeOverlap="false">18:43</span>
             </p>
           </div>
          </mat-list-item>
        </mat-list>

  </mat-card>
</app-structure>

  