<app-structure>
  <mat-card>
    <app-search-form></app-search-form>
  </mat-card>
  <div *ngIf="authService.user$ | async as user">
      <mat-card class="margin-top-14">
          <mat-list>
              <div *ngFor="let chat of user.chatsRecent">
                  <app-chat-card
                      [chatName]="chat.chatName"
                      [chatImage]="chat.chatImage"
                      [chatID]="chat.chatID"
                      [chatMessageLast]="chat.chatMessageLast"
                      [chatMessageTot]="chat.chatMessageTot"
                      [chatDate]="chat.chatDate">
                  </app-chat-card>
              </div>
          </mat-list>
      </mat-card>
  </div>
</app-structure>

  