<div class="center">
  <mat-form-field>
    <input class="center" matInput placeholder="Suche Namen">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input class="center" matInput placeholder="Suche Themen">
  </mat-form-field>
  <br>
  <app-hashtags-edit
    [hashtags]="hashtags"
    [editMode]="editMode">
  </app-hashtags-edit>
  <div>
    <p class="inline-block">heute</p>
    <mat-slider class="inline-block"></mat-slider>
    <p class="inline-block">alle</p>
  </div>
  <button mat-raised-button color="primary">Search</button>
</div>